*{
	margin: 0;
	padding: 0;
}

body{
    background-image: url(../img/peakpx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    overflow-x: hidden;
}

nav li a{
    color: black;
}

    /* isi Contact Us */
    .contact{
        position: relative;
        min-height: 100vh;
        padding: 5px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .content{
        max-width: 800px;
        text-align: center;
    }
    
    .content h2{
        font-size: 36px;
        font-weight: 500;
        color: rgb(17, 17, 17);
    }
    
    .content p{
        font-weight: 300;
        color: rgb(22, 22, 22);
    }
    
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .conntactinfo{
        width: 50%;
        display: flex;
        flex-direction: column;
        
    }
    
    .box{
        position: relative;
        padding: 20px 30px;
        display: flex;
    }
    
    .icon {
        min-width: 50px;
        height: 50px;
        background: none;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .icon img{
        width: 30px;
    }
    
    .text{
        display: flex;
        margin-left: 20px;
        font-size: 16px;
        color: rgb(8, 8, 8);
        flex-direction: column;
        font-weight: 300;
    }
    
    .text h3{
        font-weight: 500;
        color: tomato;
    }
    
    .contactform{
        width: 40%;
        padding: 40px;
        background: #fff;
    }
    
    .contactform h2{
        font-size: 30px;
        color: #333;
        font-weight: 500;
    }
    
    .inputbox{
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    
    .inputbox input, 
    .inputbox textarea{
        width: 100%;
        padding: 5px 0;
        margin: 10px 0;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid #333;
        outline: none;
        resize: none;
    }
    
    .inputbox span{
        position: absolute;
        left: 0;
        padding: 5px 0;
        margin: 10px 0;
        font-size: 16px;
        pointer-events: none;
        transition: 0.5s;
        color: #666;
    }
    
    .inputbox input:focus ~ span,
    .inputbox input:valid ~ span,
    .inputbox textarea:focus ~ span,
    .inputbox textarea:valid ~ span
    {
        color: #e90e63;
        font-size: 12px;
        transform: translateY(-20px);
    }
    
    .inputbox input[type="submit"]{
        width: 100px;
        background: #00bcd4;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
    }

    /* resposive */

    @media screen and (max-width: 992px) {

        /* isi contact us */

        .contact{
            padding: 50px;
        }
        .container{
            flex-direction: column;
        }
        .conntactinfo{
            margin-bottom: 40px;
        }
        .conntactinfo,
        .contactform
        {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px){
        
        /* isi contact us */
        
    }

    @media screen and (max-width: 567px){
        
        /* isi contact us */
        
    }